{% macro inputField(arg,id) %}

<div class="input-wrap">
  {% if arg.type == "checkbox" %}
  <!-- ➡️ IF checkbox -->
  <label class="input-label-checkbox" for="{{ id }}_input_{{ arg.name }}">
    <!-- input checkbox (hidden) -->
    <input
      class="sr-only"
      id="{{ id }}_input_{{ arg.name }}"
      name="{{ arg.name }}"
      type="{{ arg.type }}"
      value="agree"
      required
      data-field="{{ arg.dataField }}" />
    <!-- custom checkbox (visible) -->
    <span class="checkbox"></span>
     <!-- label text -->
    <span>
      <!-- policy title -->
      {{ arg.title }}
      <!-- for -->
      {% for link in arg.links %}
      <!-- policy links -->
      <a
        class="text-nowrap w-max inline-block underline duration-300 hover:text-accent focus:text-accent"
        href="{{ link.href }}"
        title="{{ link.text }}"
        target="_blank"
        rel="noopener noreferrer nofollow">
        {{ link.text }}
      </a>
      <!-- link separator text -->
      {% if not loop.last %}{{ arg.linkSeparator }}{% endif %}
      <!-- endfor -->
      {% endfor %}
    </span>
  </label>
  {% else %}
  <!-- ➡️ ELSE other inputs -->
  <label class="input-label sr-only" for="{{ id }}_input_{{ arg.name }}">
    {{ arg.title }}
  </label>
  <input
    class="input-field"
    id="{{ id }}_input_{{ arg.name }}"
    name="{{ arg.name }}"
    type="{{ arg.type }}"
    {% if arg.placeholder %}title="{{ arg.placeholder }}" placeholder="{{ arg.placeholder }}"{% endif %}
    aria-label="{{ arg.title }}"
    {% if arg.autocomplete %}autocomplete="{{ arg.autocomplete }}"{% endif %}
    {% if arg.required %}required{% endif %}
    data-field="{{ arg.dataField }}"
    data-type="{{ arg.type }}" />
  {% endif %}
</div>
{% endmacro %}
